<div
  class="container mx-auto px-4 py-2 w-full h-full flex flex-col items-center justify-center">
  <h1 mat-dialog-title class="text-xl">Coordinates</h1>
  <mat-dialog-content>
    <div class="container flex justify-between items-center gap-2">
      <span class="text-lg">Latitude:  </span><span>{{data.lat.toFixed(4)}}</span>
    </div>
    <div class="container flex justify-between items-center gap-2">
      <span class="text-lg">Longitude: </span><span>{{data.lng.toFixed(4)}}</span>
    </div>
    <div class="container flex justify-between items-center gap-2">
      <span class="text-lg">Altitude: </span><span>{{data.alt.toFixed(4)}}</span>
    </div>
  </mat-dialog-content>
</div>
